<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDRpA2CGXIJMSb-w0EqKjSXe07y4yLWBl4</string>
	<key>GCM_SENDER_ID</key>
	<string>279501522890</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uz.otabek.wirehouse</string>
	<key>PROJECT_ID</key>
	<string>wirehouse-9c09c</string>
	<key>STORAGE_BUCKET</key>
	<string>wirehouse-9c09c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:279501522890:ios:adc1d96673e679e2f73133</string>
</dict>
</plist>